#page1 {
  display: none;
}

#page2 {
  display: none;
}

body {
  font-family: 'Roboto', sans-serif;
}

.alert {
  display: none;
}

.col-md-3 {
  background-color: #563d7c;
}

.navbar {
  margin-top: 10%;
  border-radius: 2%;
  border-color: black;
  box-shadow: black 0px 0px 2px;
  margin-left: 10%;
  padding-right: 50%;
}

.navbar-nav {
  margin-top: 30%;
  height: 300px;
}

.jumbotron {
  background-color: #563d7c;
  color: rgb(239, 243, 246);
}

.card {
  text-align: justify;
}

#next {
  margin-top: 10%;
  float: right;
}

.nextpage {
  float: right;
  margin-top: 10%;
}

.previouspage {
  float: left;
  margin-top: 10%;
}

.previouspage1 {
  margin-right: 94%;
}

.submit {
  margin-left: 50%;
}

h6 {
  font-size: 12;
  font-weight: bold;
}
