#page1{
  display: none;
}
#page2{
  display: none;
}
.alert{
  display: none;
}

.col-md-3{
  background-color: #e6e5e9;
}
.navbar{
  margin-top: 10%;
  background-color: white;
 
}

.navbar-nav{
  margin-top:30%;
  height: 300px;
  
}
.jumbotron{
  background-color: #563d7c;
  color: rgb(239, 243, 246);
  
}

